{% assign desktop_image = section.settings.desktop_image | image_url: width: 2048 %}
{% assign mobile_image = section.settings.mobile_image | image_url: width: 768 %}

<style>
  .offer-banner-section {
    background-image: url('{{ desktop_image }}');
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
        background-image: url('{{ mobile_image }}');
    }
  }
</style>
<section class="offer-section{% if settings.layout_style == 'detached' %} container px-4 mx-auto{% endif %}">
<div class="offer-banner-section w-full md:h-72">
  <div class="max-md:pt-10 max-md:pb-7 md:py-16 max-md:px-4">
    <div class="flex flex-col md:flex-row items-center justify-center md:gap-14 w-3/4 md:w-3/5 mx-auto">
      <div class="md:w-1/6 flex flex-col">
        <span class="text-2xl font-bold tracking-[0.24em] text-center md:text-left">
          {{ section.settings.offer_label }}
        </span>
        <span class="text-6xl font-bold !leading-normal">
          {{ section.settings.offer_percentage }}
        </span>
      </div>
      <div class="md:w-5/6 flex flex-col gap-4 items-center md:items-start">
       <div class="text-xs font-medium px-2.5 py-1.5 w-fit tracking-wider !leading-normal" style="background-color: {{ section.settings.background_color }}">
          {{ section.settings.offer_code }}
        </div>
        <h3 class="text-2xl font-medium text-center md:text-left">
          {{ section.settings.question_text }}
        </h3>
        {% if section.settings.show_button %}
          {% render 'button',
          button_text: section.settings.button_label,
          button_url: section.settings.button_url,
          button_type: section.settings.button_type,
          button_size: small,
        %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
</section>
{% schema %}
{
  "name": "Offer Banner",
  "tag": "section",
  "class": "offer-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.offerBanner.desktop_img"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.offerBanner.mobile_img"
    },
    {
      "type": "text",
      "id": "offer_label",
      "label": "t:sections.offerBanner.offer_label",
      "default": "FLAT"
    },
    {
      "type": "text",
      "id": "offer_percentage",
      "label": "t:sections.offerBanner.offer_percentage",
      "default": "50%"
    },
    {
      "type": "text",
      "id": "offer_code",
      "label": "t:sections.offerBanner.offer_code",
      "default": "USE CODE : 1992BORN"
    },
    {
      "type": "text",
      "id": "question_text",
      "label": "t:sections.offerBanner.qn_text",
      "default": "How would you like to take care of yourself today?"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "t:sections.collection-grid.settings.show_button",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.offerBanner.btn_label",
      "default": "DISCOVER"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:sections.offerBanner.button_link"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "t:sections.offerBanner.button_type",
      "options": [
        { "value": "primary", "label": "t:sections.offerBanner.primary" },
        { "value": "secondary", "label": "t:sections.offerBanner.secondary" },
        { "value": "tertiary", "label": "t:sections.offerBanner.tertiary" }
      ],
      "default": "primary"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.offerBanner.bg_color",
      "default": "#EEF1EC"
    },
  ],
  "presets": [
    {
      "name": "t:sections.offerBanner.offerbanner",
      "category": "Custom"
    }
  ]
}
{% endschema %}

